.hotbar_selected {
	background-color: #d1000077 !important;
	bottom:15px;
}

.hotbar_item {
	z-index:2;
	display: inline-block;
	color:white;
	background-color:rgba(0,0,0,0.5);
	/*image-rendering: pixelated;
	background: url(./textures/gui/hotbar.png);
	background-size: cover;*/
	height:64px;
	width:64px;
	font-size:20px;
	text-align:center; 
	margin: 2px;
	padding:8px;
}

.item_count {
	position: relative;
	bottom:19px;
	right:-5px;
	font-family:'lato';
	font-weight: bold;
	text-shadow: black 1px 1px;
}

.item_icon {
	image-rendering: pixelated;
   	height:48px;
	width:48px;
	display: block;
	margin: auto auto;
}

#game_chatbox {
	position:absolute;
	bottom:5px;
	left:5px;
	z-index:1;
	color:white;
	text-shadow: 1px 1px black;
	background-color:rgba(0,0,0,0.2);
	font-size:20px;
	margin:4px;
	max-height:500px;

}

